/ApplicationVMDynamicStateDataInboundPort.class
/ApplicationVMIntrospectionInboundPort$1.class
/ApplicationVMIntrospectionInboundPort$2.class
/ApplicationVMIntrospectionInboundPort$3.class
/ApplicationVMIntrospectionInboundPort.class
/ApplicationVMIntrospectionOutboundPort.class
/ApplicationVMManagementInboundPort$1.class
/ApplicationVMManagementInboundPort.class
/ApplicationVMManagementOutboundPort.class
/ApplicationVMStaticStateDataInboundPort.class
